.mini-dashboard--worked-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mini-dashboard--worked-hours-icon {
  height: 20px;
  width: 20px;
  color: var(--color-first);
}

.mini-dashboard--worked-hours-value {
  margin: 0;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 234px) {
  .mini-dashboard--worked-hours-icon {
    height: 15px;
    width: 15px;
  }

  .mini-dashboard--worked-hours-value {
    font-size: 12px;
    height: 15px;
  }
}